@font-face {
  font-family: 'LatoRegular';
  src: url(../fonts/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'LatoRegular';
}

/* NOTE: header */

.header {
  height: 75px;
  background: #222222;
}

.container {
  /* NOTE: ширина по макету 1140px но задавать ВСЕГДА на +20px больше! */
  max-width: 1140px;

  /* NOTE: для старых браузеров */
  width: 100%;

  margin: 0 auto;

  /* NOTE: up & down, left & right - тут 20px (10+10)  компенсируются отступами */
  padding: 0 10px;
}

.header__wrapper {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

.header__right {

}

.header__left {

}

.header__logo {
  text-decoration: none;
  margin-right: 41px;
}

/* NOTE: задать всем елементам КРОМЕ последнего.... */
.header__item:not(:last-child) {
  margin-right: 33px;
}

/* NOTE: end: header */


/**/


/* NOTE: promo */

.promo {
  height: 764px;
  background: #F1E4E6;
}

.promo__title {
  max-width: 377px;
  padding-left: 20px;
  border-left: 12px solid #F16D7F;
}

.promo__wrapper {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  background: url("../img/man.png") no-repeat -228px 0;
}

.promo__decor {
  color: #F16D7F;
}

/* NOTE: end: promo */


/**/


/* NOTE: category */

.category {
  margin: 100px 0 100px 0;
}

.category__wrapper {
  display: flex;
  flex-wrap: wrap;

  /* NOTE: Свойство gap устанавливает промежутки между строками и столбцами
           сетки. Это сокращение для row-gap и column-gap */
  /*gap: 30px;*/

  /* NOTE: за место gap */
  justify-content: space-between;
}

.category__item {
  width: 100%;
  height: 180px;
}

.category__item:nth-child(1) {
  background: url("../img/category-woman.png");
}

.category__item:nth-child(2) {
  background: url("../img/category-man.png");
}

.category__item:nth-child(3) {
  background: url("../img/category-kids.png");
}

.category__item:nth-child(4) {
  background: url("../img/category-accesories.png");
}

.category__item p {
  font-size: 24px;
  font-weight: bold;
  color: #F16D7F;
  text-align: center;
  text-transform: uppercase;
}

.category__item p:not(:last-child) {
  font-size: 16px;
  color: white;
}

.category__item:not(:last-child) {
  width: 360px;
  height: 260px;

  /* NOTE: за место gap */
  margin: 0 0 30px 0;
}


.category__mask {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(33, 22, 22, 0.7);
}

/* NOTE: end: category */


/**/


/* NOTE: products */

.products {
  margin: 100px 0 100px 0;
}

.products__chapter {
  text-align: center;
  margin-bottom: 47px;
}

.products__chapter h1 {
  font-size: 30px;
}

.products__chapter p {
  margin-top: 10px;
  font-size: 14px;
  color: #9F9F9F;
}

.products__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.products__item {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
}

.products__img {
  width: 360px;
  height: 420px;
}

.products__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 314px;
  height: 116px;
  margin: 26px auto;
}

.products__title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

.products__description {
  font-size: 14px;
  font-weight: lighter;
  color: #5D5D5D;
}

.products__price {
  font-size: 16px;
  color: #F16D7F;
}

.products__button {
  width: 212px;
  height: 48px;
  margin: 48px auto 0 auto;
}

.products__button a {
  display: block;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 2.8;
  text-decoration: none;
  color: #F26376;
  border: 2px solid #F26376;
}

/* NOTE: end: products */


/**/


/* NOTE: footer */
.footer {
  background: #222224;
}

.footer__services {
  display: flex;
  min-height: 341px;
  border: 1px solid red;
  justify-content: space-between;
  align-items: center;
}

.footer__services-item {
  width: 360px;
  height: 134px;
  border: 1px solid red;
}

.footer__subscribe {
  min-height: 448px;
  background: url("../img/footer-subscribe.png") no-repeat;
  background-size: cover;
}

.footer__subscribe-wrapper {
  border: 1px solid red;
  min-height: inherit;
}

.footer__copyright {
  min-height: 79px;
  border: 1px solid red;
}
/* NOTE: end: footer */