@import "../../general-mixins";
@import "../../settings";


/**/


.catalog {
  &__products {
    margin: 100px 0 100px 0;

    &-menu {
      @include flexCenterBlock(flex-start);

      text-align: center;
      margin-bottom: 47px;

      @media screen and (max-width: 1140px) {
        justify-content: center;
      }

      @media screen and (max-width: $tabletWidth) {
        justify-content: space-between;
      }


      &_left {
        float: left;

        @media screen and (max-width: $mobileWidth) {
          width: 40px;
        }
      }

      &_filter {
        width: 360px;
        height: 48px;
        font-size: 17px;
        color: black;

        @media screen and (max-width: $tabletWidth) {
          width: 120px;
        }
      }

      &_right {
        z-index: 99;
        width: auto;
        margin-left: 30px;

        @media screen and (max-width: 1140px) {
          margin-left: 0;
        }

        @media screen and (max-width: $tabletWidth) {
          @include flexCenterBlock(flex-end);
        }
      }

      &_attributes {
        @include flexCenterBlock();
      }
    }

    &-select {
      position: relative;
      width: auto;
      height: 38px;
      padding-right: 20px;
      font-size: 14px;
      text-transform: uppercase;
      color: #9F9F9F;
      border: none;
      background: url('../../src/img/arrow-down.png') no-repeat right center;
      box-sizing: border-box;
      outline: none;
      line-height: 3;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;


      &::-webkit-details-marker {
        display: none;
      }

      &:not(:last-child) {
        margin-right: 22px;
      }

      & summary {
        display: block;
        text-transform: uppercase;
        outline: none;

        &::-webkit-details-marker {
          display: none;
        }
      }

      &[open] > summary {
        color: $colorRed;
      }

      &_list {
        min-width: auto;
        height: auto;
        margin-left: 0;
        padding-left: 0;
        background: white;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      }

      &_item {
        text-transform: lowercase;
        list-style-type: none;

        &:first-letter {
          text-transform: uppercase;
        }

        & a {
          text-decoration: none;
          font-size: 14px;
          color: #6F6E6E;
          line-height: 2;
        }
      }
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;

      clear: both;
    }
  }

  &__pagination {
    width: 284px;
    height: 44px;
    margin: 48px auto 0 auto;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
  }
}
