@font-face {
  font-family: 'LatoRegular';
  src: url(../../src/fonts/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'LatoRegular';
}


/* NOTE: header */

.header {
  height: 75px;
  background: #222222;
}

.container {
  /* NOTE: ширина по макету 1140px но задавать ВСЕГДА на +20px больше! */
  max-width: 1140px;

  /* NOTE: для старых браузеров */
  width: 100%;

  margin: 0 auto;

  /* NOTE: up & down, left & right - тут 20px (10+10)  компенсируются отступами */
  padding: 0 10px;
}

.header__wrapper {
  display: flex;
  height: inherit;
  justify-content: space-between;
  align-items: center;
}

.header__right {

}

.header__left {

}

.header__logo {
  text-decoration: none;
  margin-right: 41px;
}

/* NOTE: задать всем елементам КРОМЕ последнего.... */
.header__item:not(:last-child) {
  margin-right: 33px;
}

/* NOTE: end: header */


/**/


/* NOTE: breadcrumb */

.breadcrumb__chapter {
  height: 148px;
  background: #F8F3F4;
}

.breadcrumb__wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb__left {
  max-width: 194px;
}

.breadcrumb__left h1 {
  margin-top: 0;
  color: #F16D7F;
  font-size: 24px;
  font-weight: 100;
}

.breadcrumb__right {
  width: 210px;
  font-size: 14px;
}

.breadcrumb__right p {
  color: #636363;
}

.breadcrumb__right span {
  color: #F16D7F;
}

/* NOTE: end: breadcrumb */


/**/


/* NOTE: product slider */

.product__slider {
  display: flex;
  width: 100%;
  height: 777px;
  background: #EAEAEA;
  justify-content: space-between;
  align-items: center;
}

.product__slider-control {
  width: 47px;
  height: 47px;
  font-size: 27px;
  background: rgba(42, 42, 42, 0.15);;
}

.product__slider-control a {
  display: block;
  width: inherit;
  height: inherit;
  text-align: center;
  text-decoration: none;
  color: black;
  line-height: 1.7;
}

.product__slider-control a:hover {
  color: #F16D7F
}

.product__slider-content {
  z-index: 1;
  width: 597px;
  height: 724px;
  margin-top: -11px;
}

/* NOTE: end: product slider */


/**/


/* NOTE: product detail */

.product__detail {
  position: relative;
  display: flex;
  z-index: 2;
  height: 601px;
  margin-top: -64px;
  margin-bottom: 128px;
  border: 1px solid #EAEAEA;
  background: white;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product__type {
  position: relative;
  margin-top: 64px;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.product__type:before {
  position: absolute;
  content:"";
  bottom: -12px;
  left: 50%;
  width: 60%;
  height: 3px;
  margin-left: -30%;
  background: #EF5B70
}

.product__type p {
  font-size: 14px;
  font-weight: 100;
  color: #F16D7F;
}

.product__title {
  margin-bottom: 49px;
}

.product__title h1 {
  font-size: 18px;
  font-weight: 100;
  text-transform: uppercase;
  color: #4D4D4D;
}

.product__description {
  width: 555px;
  text-align: center;
  margin-bottom: 22px;
}

.product__description p {
  color: #5E5E5E;
}

.product__price {
  position: relative;
  margin-bottom: 64px;
  text-transform: uppercase;
}

.product__price:before {
  position: absolute;
  content:"";
  bottom: -33px;
  left: 50%;
  width: 642px;
  height: 1px;
  margin-left: -321px;
  background: #EAEAEA
}

.product__price p {
  font-size: 24px;
  font-weight: 100;
  color: #EF5B70;
}

.product__parameters {
  margin-top: 28px;
  margin-bottom: 34px;
}

.product__select {
  width: auto;
  padding-right: 20px;
  text-transform: uppercase;
  border: none;
  background: url('../../src/img/arrow-down.png') no-repeat right center;
  color: #9F9F9F;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.product__select:not(:last-child) {
  margin-right: 22px;
}

.product__button {
  width: 212px;
  height: 48px;
  margin-bottom: 64px;
  border: 1px solid red;
}

.product__button a {
  display: block;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #FF6A6A;
  line-height: 3;
}

/* NOTE: end: product detail */


/**/


/* NOTE: product recommended */

.product__recommended {
  width: 100%;
  height: auto;
  margin-bottom: 128px;
}

.product__recommended-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.product__video video {
  width: 360px;
  height: 420px;
}

/* TODO: DRY !!! */
.product__item {
  width: 360px;
  height: 581px;
  background: #F8F8F8;
}

.product__img img {
  width: 360px;
  height: 420px;
}

.products__info {
  display: flex;
  width: 314px;
  min-height: 116px;
  margin: 26px auto;
  flex-direction: column;
  justify-content: space-between;
}

.products__title {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

.products__description {
  font-size: 14px;
  font-weight: lighter;
  color: #5D5D5D;
}

.products__price {
  font-size: 16px;
  color: #F16D7F;
}
/* TODO: end: DRY !!! */

/* NOTE: end: product recommended */


/**/


/* NOTE: subscribe */

.footer__subscribe {
  min-height: 448px;
  background: url("../../src/img/footer-subscribe.png") no-repeat;
  background-size: cover;
}

.footer__subscribe-wrapper {
  display: flex;
  min-height: inherit;
  justify-content: space-around;
}

.footer__subscribe-left,
.footer__subscribe-right {
  display: flex;
  min-height: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__subscribe-description {
  width: 360px;
  margin-top: 28px;
  text-align: center;
  color: black;
}

.footer__subscribe-description span {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__subscribe_right-subscribe {
  width: inherit;
  margin-top: 20px;
}

.footer__subscribe-form {
  display: flex;
  width: inherit;
  justify-content: center;
  align-items: center;
}

.footer__subscribe_right-subscribe .footer__subscribe_search-input {
  width: 210px;
  height: 49px;
  padding-left: 30px;
  font-size: 14px;
  border-bottom-left-radius: 24px;
  border-top-left-radius: 24px;
  border: none;
  background: #E1E1E1;
}

.footer__subscribe_right-subscribe .footer__subscribe_search-btn {
  display: block;
  width: 100px;
  height: 49px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-bottom-right-radius: 24px;
  border-top-right-radius: 24px;
  border: none;
  background: #F16D7F;
  outline:none;
}

.footer__subscribe_right-subscribe .footer__subscribe_search-btn ::placeholder {

}

/* NOTE: end: subscribe */



/**/


/* NOTE: footer */

.footer {
  background: #222224;
}

.footer__copyright {
  display: flex;
  min-height: 79px;
  justify-content: space-around;
  align-items: center;
}

.footer__copyright-left,
.footer__copyright-right {

}

.footer__copyright-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright-facebook,
.footer__copyright-instagram,
.footer__copyright-twitter,
.footer__copyright-p {
  width: 32px;
  height: 32px;
  fill: black;
  background: white;
  text-align: center;
  line-height: 2;
}

.footer__social:not(:last-child) {
  margin-right: 4px;
}

.footer__social {
  color: black;
}

.footer__social:hover {
  color: white;
  background: #F26376;
}

.footer__copyright-left p {
  font-size: 16px;
  color: white;
}

/* NOTE: end: footer */
